In [16]:
from fredapi import Fred
import pandas as pd

with open('api_key.txt', 'r') as file:
    api_key = file.read().strip()

# Initialize the Fred object with your API key
fred = Fred(api_key=api_key)

# Example: Get data for GDP
gdp_data = fred.get_series('GDPC1')

gdp_df = pd.DataFrame({'Date': gdp_data.index, 'GDP': gdp_data.values})

# Print the first few data points
len(gdp_df)
gdp_df.head()

        Date       GDP
0 1947-01-01  2182.681
1 1947-04-01  2176.892
2 1947-07-01  2172.432
3 1947-10-01  2206.452
4 1948-01-01  2239.682

In [11]:
gdp_data.head(5)
#len(gdp_data)

1946-01-01        NaN
1946-04-01        NaN
1946-07-01        NaN
1946-10-01        NaN
1947-01-01    243.164
dtype: float64

In [10]:
# Example: Get data for Consumer Price Index for All Urban Consumers: All Items
cpi_data = fred.get_series('CPIAUCNS')

# Example: Get data for Unemployment Rate
unemployment_data = fred.get_series('UNRATE')

unemployment_data.head(5)

#include data from FRED about average US housing prices ???

1948-01-01    3.4
1948-02-01    3.8
1948-03-01    4.0
1948-04-01    3.9
1948-05-01    3.5
dtype: float64

In [19]:
import pandas as pd
from fredapi import Fred

# Read API key from file
with open('api_key.txt', 'r') as file:
    api_key = file.read().strip()

# Initialize fredapi with API key
fred = Fred(api_key=api_key)

# Example: Get data for Consumer Price Index for All Urban Consumers: All Items
cpi_data = fred.get_series('CPIAUCNS')

# Convert CPI data to DataFrame
cpi_df = pd.DataFrame({'Date': cpi_data.index, 'CPI': cpi_data.values})

# Example: Get data for Unemployment Rate
unemployment_data = fred.get_series('UNRATE')

# Convert unemployment data to DataFrame
unemployment_df = pd.DataFrame({'Date': unemployment_data.index, 'Unemployment Rate': unemployment_data.values})

# Display the first 5 rows of the unemployment DataFrame
unemployment_df

          Date  Unemployment Rate
0   1948-01-01                3.4
1   1948-02-01                3.8
2   1948-03-01                4.0
3   1948-04-01                3.9
4   1948-05-01                3.5
..         ...                ...
909 2023-10-01                3.8
910 2023-11-01                3.7
911 2023-12-01                3.7
912 2024-01-01                3.7
913 2024-02-01                3.9

[914 rows x 2 columns]

In [ ]:
# Make a line Graph

In [ ]:
# Make Correlation Table

In [ ]:
# use something off google, maybe a picture?